Scans2SAService/Web References/Service2SARS/rs.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="SaveScan">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="filename" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="content" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveScanResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SaveScanResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SaveScanSoapIn">
    <wsdl:part name="parameters" element="tns:SaveScan" />
  </wsdl:message>
  <wsdl:message name="SaveScanSoapOut">
    <wsdl:part name="parameters" element="tns:SaveScanResponse" />
  </wsdl:message>
  <wsdl:portType name="rsSoap">
    <wsdl:operation name="SaveScan">
      <wsdl:input message="tns:SaveScanSoapIn" />
      <wsdl:output message="tns:SaveScanSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="rsSoap" type="tns:rsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveScan">
      <soap:operation soapAction="http://tempuri.org/SaveScan" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="rsSoap12" type="tns:rsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveScan">
      <soap12:operation soapAction="http://tempuri.org/SaveScan" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="rs">
    <wsdl:port name="rsSoap" binding="tns:rsSoap">
      <soap:address location="http://ec2dev1/2sa/rs.asmx" />
    </wsdl:port>
    <wsdl:port name="rsSoap12" binding="tns:rsSoap12">
      <soap12:address location="http://ec2dev1/2sa/rs.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>